.presentation {
  background-color: white;
  position: absolute;
  z-index: 100000;
}

.wrapper_modal {
  background-color: rgb(25, 25, 25);
  width: 800px;
  height: 95vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.wrapper_modal::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

.modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(222, 222, 222, 0.1);
  padding: 5px;
  border-radius: 20%;
  transition: 100ms all ease-in;

  &:hover {
    transform: scale(1.1);
    background-color: rgba(130, 130, 130, 0.6);
  }
}

.modal_poster {
  /* position: static; */
  /* background-color: red; */
  object-fit: contain;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.modal_contents {
  /* border: 1px solid red; */
  margin: 10px;
}

.modal_text {
  font-size: 20px;
  font-weight: bold;
}

.modal_user {
  margin-right: 15px;
}

.modal_title {
  margin-top: 10px;
  font-size: 40px;
}

.modal_overview {
  margin-top: 40px;
}
